body {
  background: #68bba9;
  margin: 0;
  overflow-x: hidden;
}
.homepage {
  background: #68bba9;
  color: white;
  width: 100%;
  height: auto;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
  }
  .fullWidth {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     max-width: initial;
  }
  .divider {
    border-bottom: 2px dashed #fa715b;
  }
  .nav-container {
    background: #fa715b;
    position: fixed;
    display: flex;
    z-index: 999;
    .logo {
      p {
        font-family: 'Indie Flower',cursive;
        z-index: 1;
        position: absolute;
        top: 1rem;
        left: 2rem;
        color: #fff;
        font-size: 2rem;
        margin: 0;
      }
    }
    .nav {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 25px 0 0 0;
      position: relative;
      li {
        list-style-type: none;
        a {
          text-decoration: none;
          color: white;
          transition: all .5s ease;
          &:hover {
            color: #6cd0b8;
            text-decoration: underline;
          }
        }
      }
    }
  }
  .header {
    background-size: cover;
    height: 500px;
    margin: 0 auto;
    background-position: center center;
    width: 100%;
    position: relative;
    h1 {
      text-align: center;
      padding-top: 5rem;
      font-size: 2.5rem;
      margin-bottom: -60px;
      text-transform: uppercase;
      width: 100%;
      color: white;
      @media screen and (max-width: 39.9375em) {
        padding: 0;
        margin-bottom: -30px;
      }
    }
    .underline{
      position: absolute;
      top: 210px;
      left: 35%;
      width: 30%;
      border-bottom: 3px solid #fff;
    }
    p {
      text-align: center;
      position: relative;
      line-height: 2.5rem;
      font-size: 1.4rem;
      padding: 150px;
    }
    .social-media {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 2.5rem;
      transition: 2s ease-in-out;
      position: relative;
      bottom: 100px;
      @media only screen and (min-width: 40.0625em) {
        bottom: 150px;
      }
      a {
        text-decoration: none;
        i {
          color: white;
          padding-right: 4rem;
          .linkedin {
            &:hover {
              color: #007bb6 !important;
            }
          }
          .github {
            &:hover {
              color: #171516 !important;
            }
          }
          .facebook {
            &:hover {
              color: #3b5998 !important;
            }
          }
          &:last-of-type {
            padding-right: 4rem;
          }
        }
      }
    }
  }
.skills {
  h1 {
    margin-bottom: 0;
  }
}
  #SkillBox {
    font-size: 20px;
    font-family: 'Indie Flower', cursive;
    width: 95%;
    height: auto;
    margin: 40px auto;
    padding: 10px;
    border-radius:20px;
  }
  .SkillBar {
      width: 90%;
      height: 50px;
      position: relative;
      background: rgba(17, 17, 17, .3);
      margin: 20px auto;
  }
  #Skill-HTML {
      width: 100%;
      animation: Animate-HTML 4s;
      -webkit-animation: Animate-HTML 4s;
      -moz-animation: Animate-HTML 4s;
      -o-animation: Animate-HTML 4s;
      height: 50px;
      position: absolute;
      background-color: #ea8564;
  }
  @keyframes Animate-HTML {
      from {
      width: 10px;
  }
  to {
      width: 100%}
  }#Skill-CSS {
      animation: Animate-CSS 5s;
      width: 90%;
      height: 50px;
      position: absolute;
      background-color: #55a69f;
  }
  @keyframes Animate-CSS {
      from {
      width: 10px;
  }
  to {
      width: 90%}
  }#Skill-jQuery {
      animation: Animate-jQuery 5s;
      width: 60%;
      height: 50px;
      position: absolute;
      background-color: #99856d;
  }
  @keyframes Animate-jQuery {
      from {
      width: 10px;
  }
  to {
      width: 60%}
  }#Skill-JS {
      animation: Animate-JS 4s;
      width: 50%;
      height: 50px;
      position: absolute;
      background-color: #c44e45;
  }
  @keyframes Animate-JS {
      from {
      width: 10px;
  }
  to {
      width: 50%}
  }#Skill-Wordpress {
      animation: Animate-Wordpress 4s;
      width: 85%;
      height: 50px;
      position: absolute;
      background-color: #5aa669;
  }
  @keyframes Animate-Wordpress {
      from {
      width: 10px;
  }
  to {
      width: 85%}
  }#Skill-JSON {
      animation: Animate-JSON 4s;
      width: 30%;
      height: 50px;
      position: absolute;
      background-color: #970cc1;
  }
  @keyframes Animate-JSON {
      from {
      width: 10px;
  }
  to {
      width: 30%}
  }#Skill-React {
      animation: Animate-React 4s;
      width: 25%;
      height: 50px;
      position: absolute;
      background-color: #8e930c;
  }
  @keyframes Animate-React {
      from {
      width: 10px;
  }
  to {
      width: 25%}
  }#Skill-PHP {
      animation: Animate-PHP 4s;
      -webkit-animation: Animate-PHP 4s;
      -moz-animation: Animate-PHP 4s;
      -o-animation: Animate-PHP 4s;
      width: 60%;
      height: 50px;
      position: absolute;
      background-color: #5A69A6;
  }
  @keyframes Animate-PHP {
      from {
      width: 10px;
  }
  to {
      width: 60%}
  }@-o-keyframes Animate-PHP {
      from {
      width: 10px;
  }
  to {
      width: 50%}
  }#Skill-SQL {
      animation: Animate-SQL 4s;
      width: 30%;
      height: 50px;
      position: absolute;
      background-color: #23b1db;
  }
  @keyframes Animate-SQL {
      from {
      width: 10px;
  }
  to {
      width: 30%}
  }.Skill-Area {
      z-index: 1;
      float: left;
      margin-top: 15px;
      margin-left: 15px;
      text-shadow: none;
      color: #fff;
      font-size: 18px;
  }
  .PercentText {
      z-index: 3;
      position: relative;
      padding-right: 15px;
      margin-top: 15px;
      float: right;
      text-shadow: none;
      color: #fff;
      font-size: 18px;
  }
    .projects-container {
      img {
        border-radius: 10px;
        border: 1px solid white;
        &:hover {
          filter: brightness(1.1);
          transition: .5s ease;
        }
      }
      .about {
        text-align: center;
        position: relative;
        p {
          color: white;
          margin-bottom: 0px;
          &.date {
            padding-bottom: 50px;
          }
        }
      }
  }
  h1 {
    color: #fff;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin: 50px 0;
  }
  h5 {
    color: white;
    text-align: center;
    width: 30%;
    margin: 30px auto;
    font-size: 20px;
  }
  .contact {
    width: 35%;
    margin: 40px auto;
    padding: 20px 40px;
    background: #fa755b;
    color: white;
    font-family: roboto;
    text-transform: uppercase;
    input.wpcf7-form-control.wpcf7-submit {
      color: white;
      background: #74c7b8;
      border: none;
      width: 30%;
      padding: 10px 0;
      border-radius: 30px;
      text-transform: uppercase;
      font-size: 20px;
      position: relative;
      left: 30%;
    }
  }
  .footer {
    color: #000;
    background: #68bba9;
    text-align: center;
    width: 100%;
    position: relative;
    top: 20px;
  }
}
