
.homepage {
  .header {
    width: 50vh;
    color: white;
    h1 {
      text-align: center;
      padding-top: 5rem;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    .underline{
      position: relative;
      left: 35%;
      width: 30%;
      border-bottom: 3px solid #fff;
    }
    p {
      text-align: center;
      width: 50%;
      position: relative;
      left: 25%;
      line-height: 2.5rem;
      font-size: 1.4rem;
    }
    .social-media {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 2.5rem;
      transition: 2s ease-in-out;
      a {
        text-decoration: none;
        i {
          color: white;
          padding-right: 4rem;
          .linkedin {
            &:hover {
              color: #007bb6;
            }
          }
          .github {
            &:hover {
              color: #171516;
            }
          }
          .facebook {
            &:hover {
              color: #3b5998;
            }
          }
          &:last-of-type {
            padding-right: 4rem;
          }
        }
      }
    }
  }
}
