.homepage {
  .nav {
    p {
      font-family: 'Indie Flower',cursive;
      z-index: 1;
      position: absolute;
      top: 0;
      left: 2rem;
      color: #fff;
      font-size: 2rem;
      margin: 0;
    }
  }
  .header {
    color: white;
    width: auto;
    position: absolute;
    top: 0;
    left: 0;
    h1 {
      text-align: center;
      padding-top: 5rem;
      font-size: 2.5rem;
      margin-bottom: 1rem;
      text-transform: uppercase;
    }
    .underline{
      position: relative;
      left: 35%;
      width: 30%;
      border-bottom: 3px solid #fff;
    }
    p {
      text-align: center;
      width: 50%;
      position: relative;
      left: 25%;
      line-height: 2.5rem;
      font-size: 1.4rem;
    }
    .social-media {
      display: inline-block;
      text-align: center;
      width: 100%;
      height: auto;
      font-size: 2.5rem;
      transition: 2s ease-in-out;
      a {
        text-decoration: none;
        i {
          color: white;
          padding-right: 4rem;
          .linkedin {
            &:hover {
              color: #007bb6 !important;
            }
          }
          .github {
            &:hover {
              color: #171516 !important;
            }
          }
          .facebook {
            &:hover {
              color: #3b5998 !important;
            }
          }
          &:last-of-type {
            padding-right: 4rem;
          }
        }
      }
    }
  }
}
